---
layout: default
title: Here I am
---

<div id="home">
  <h2>Blog Posts</h2>
  <table class="posts">
    {% for post in site.posts %}
    {% unless post.published == false %}
    <tr>
        <td><span class="post-date">{{ post.date | date_to_string }}</span></td>
        <td>
            <a class="title" href="{{ site.baseurl }}{{ post.url }}">{{ post.title | xml_escape }}</a>
            {% if post.excerpt %}
            <a class="post-excerpt" href="{{ site.baseurl }}{{ post.url }}"><p>{{ post.excerpt | xml_escape }}</p></a>
            {% endif %}
        </td>
    </tr>
    {% endunless %}
    {% endfor %}
  </table>
</div>
