body {
  background-color: #FFF;
  font-family: "Merriweather", Helvetica, Arial, sans-serif;
  margin: auto;
}

a {
  color: #00a;
}

h2 {
  color: #3e3e3e;
}

header {
  font-family: Helvetica, Arial, sans-serif;

  a {
    font-weight: bold;
    text-decoration: none;
    color: inherit;
  }

  h1 {
    background-color: #29e;
    color: white;

    padding: 1.75em 0.1em 0em;
    margin: 0 0 1em 6%;
    display: inline-block;
  }

  a.extra {
    color: #aaa;
    margin-left: 1em;

    &:hover {
      color: #000;
    }
  }
}

/* Site */

.site {
  width: 42em;
  max-width: 95%;

  margin: auto;
  padding: 0 1em;

  .meta {
    color: #aaa;
    float: right;
  }

  footer {
    font-size: 80%;
    color: #666;
    border-top: 4px solid #eee;
    margin-top: 2em;
    overflow: hidden;

    .contact {
      margin-right: 2%;
      display: inline-block;
      vertical-align: middle;

      a {
        color: #8085C1;
      }
    }

    .rss {
      margin-top: 1.1em;
      margin-right: -.2em;
      float: right;

      img {
        border: 0;
      }
    }
  }
}

.post {
  line-height: 1.5em;

  pre {
    border: 1px solid #ddd;
    padding: 0 .4em;
  }

  ul, ol {
    margin-left: 1.35em;
  }

  code {
    border: 1px solid #ddd;
    background-color: #eef;
    padding: 0 .2em;
  }

  pre {
    code {
      border: none;
      word-wrap: break-word;
      overflow-wrap: break-word;

      background-color: transparent;
    }
  }
}

.post-title {
  display: block;
  overflow: hidden;
  margin: 1em 0;
  h1 {
    line-height: initial;
    color: #3e3e3e;
    display: inline;
    margin: 0;
  }
  p {
    margin: 0;
  }
}

#footer-me {
  display: inline-block;
  position: fixed;
  bottom: 0;
  margin-left: -70px;
  vertical-align: middle;

  width: 64px;
  height: 64px;
}

#cc-license {
  float: right;
  height: 40px;
  text-decoration: none;
  display: inline-block;

  img {
    width: 35px;
    height: 35px;
    margin: 10px 0px 2px 5px;
    vertical-align: middle;
  }
}

.snap-example {
  margin-bottom: 20px;
  .canvas-group {
    position: relative;
    background-color: rgba(34, 153, 238, 0.2);
  }
  .overlay-canvas {
    position: absolute;
    top: 0;
    left: 0;
    cursor: -webkit-grab;
    cursor: -moz-grab;
    cursor: grab;
  }
}

table.posts {

  .post-date {
    vertical-align: middle;
    color: #aaa;
    font-family: Monaco, "Courier New", monospace;
    font-size: 90%;
  }

  .title {
    font-size: 1.1em;
    display: block;
    border-left: solid 0.3em #29e;
    padding: 0.1em 0.4em;
    margin-bottom: 0.5em;
    text-decoration: none;

    background-color: #E5F3FD;
    color: #29e;

    transition: background-color 0.2s, color 0.2s, border-color 0.2s;

    &:hover {
      //color: #f40;
      border-color: #f40;
    }
  }

  .post-excerpt {
    color: #333;
    text-decoration: none;

    margin: 0 0 0.5em 0.7em;
    display: inline-block;
  }

  td {
    padding-bottom: 1.5em;
    
    &:first-child {
      width: 7em;
      display: inline-block;
    }
  }
}

pre {
  margin: 0;
}

.twitter-share-button {
  vertical-align: middle;
  margin: 0 0 0 2em;
}

#feed-icon {
  width: 20px;
  height: 20px;
  vertical-align: middle;
}

@media screen and (min-width: 1000pX) {
  body {
    font-size: 1.2em;
  }
}

@media screen and (max-width: 720pX) {
  .site {
    width: 95%;
    padding: 0 2.5%;
  }

  pre code {
    font-size: 0.8em;
  }

  table.posts td:first-child {
    font-size: 0.9em;
    width: 6em;
  }

  #footer-me {
    position: static;
    margin-left: 0;
  }
}

@media screen and (max-width: 320pX) {
  table.posts td:first-child {
    display: none;
  }
}

@font-face {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 400;
  src: local("Merriweather"), url("https://themes.googleusercontent.com/static/fonts/merriweather/v6/RFda8w1V0eDZheqfcyQ4EHhCUOGz7vYGh680lGh-uXM.woff") format("woff");
}
