---
author      : "Taye Adeyemi"
ga_create   : ["'UA-44445883-2'", "'taye.me'"]
google_plus : "107750313581859477605"
---

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ page.title | xml_escape }} | Taye Adeyemi</title>
        <meta name="author" content="{{ page.author }}" />
        <meta name="keywords" content="{{ page.tags | join:' ' }}" />
    {% if page.description and page.description != "" %}
        <meta name="description" content="{{ page.description }}" />
    {% elsif page.excerpt and page.excerpt != ""%}
        <meta name="description" content="{{ page.excerpt }}" />
    {% endif %}
        <meta name="viewport" content="width=device-width, initial-scale=1"/>

        <link rel="alternate" type="application/rss+xml" href="{{ site.baseurl }}/rss.xml"/>

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="{{ site.baseurl }}/css/syntax.css"/>

        <!-- Custom CSS -->
        <link rel="stylesheet" href="{{ site.baseurl }}/css/normalize.css"/>
        <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css"/>
        <link rel="icon" href="{{ site.baseurl }}/img/hm-64.png"/>

{% for style in page.styles %}
        <link rel="stylesheet" href="{{ site.baseurl }}/css/{{ style }}.css"/> {% endfor %}
{% for script in page.scripts %}
        <script src="{{ site.baseurl }}/js/{{ script }}.js"></script>{% endfor %}

    </head>
    <body>

        <div class="site">
          <header>
              <h1 class="title"><a href="{{ site.baseurl }}">{{ site.title | xml_escape }}</a></h1>
              <a class="extra" href="{{ site.baseurl }}">home</a>
          </header>

          {{ content }}

          <footer>
            <img id="footer-me" src="{{ site.baseurl }}/img/hm-64.png" alt="A self portrait">
            <div class="contact">
              <p>
                Taye - Programmer · Visionary · Delicious
              </p>
            </div>
            <div class="contact">
              <p>
                <a href="https://github.com/taye">github.com/taye</a><br/>
                <a class="email" href="mailto:&#x64;&#x65;&#x76;&#x40;&#x74;&#x61;&#x79;&#x65;&#x2e;&#x6d;&#x65;">
                    &#x64;&#x65;&#x76;&#x40;&#x74;&#x61;&#x79;&#x65;&#x2e;&#x6d;&#x65;</a><br>
                <a href="https://plus.google.com/{{ page.google_plus }}?rel=author">+</a>
              </p>
            </div>
            <a id="cc-license" title="Creative Commons Attribution-ShareAlike" rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/deed.en_US" target="_blank">
                <img src="{{ site.baseurl }}/img/cc_cc.png" alt="Creative Commons">
                <img src="{{ site.baseurl }}/img/cc_by.png" alt="Attribution">
                <img src="{{ site.baseurl }}/img/cc_sa.png" alt="ShareAlike">
            </a>
          </footer>
        </div>

{% if page.do_not_track != true and page.ga_create and page.ga_create != empty and page.ga_create != "" %}
    <script>
    if (!/yes|1/.test(navigator.doNotTrack)) {
        (function(p,r,i,v,a,c,y){p['GoogleAnalyticsObject']=a;p[a]=p[a]||function(){
        (p[a].q=p[a].q||[]).push(arguments)},p[a].l=1*new Date();c=r.createElement(i),
        y=r.getElementsByTagName(i)[0];c.async=1;c.src=v;y.parentNode.insertBefore(c,y)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', {{ page.ga_create | join:', ' }});
        ga('send', 'pageview');
    }
    </script>
{% endif %}
    </body>
</html>
