---
layout: default
---
<span class="post-title">
    <h1> {{ page.title | xml_escape }} </h1>
    <p class="meta">
        {{ page.date | date_to_string }}
        <a href="https://twitter.com/share" class="twitter-share-button" data-via="TayeAdeyemi">Tweet</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    </p>
</span>

<article class="post">
    {{ content }}
</article>

<hr>

<script>
var idcomments_acct = '5b4485e927a92a60756d6eb01be3d7f2';
var idcomments_post_id;
var idcomments_post_url;
</script>
<span id="IDCommentsPostTitle" style="display:none"></span>
<script type='text/javascript' src='http://www.intensedebate.com/js/genericCommentWrapperV2.js'></script>
